/* responsive design  */

/* for small device  */
@media screen and (max-width:576px) {

    /* responsive header area  */
    header {
        padding: 0 20px;
        padding-top: 52px;
    }

    .hide {
        display: none;
    }

    .menu {
        display: block;
    }

    .hero {
        flex-direction: column;
    }

    .hero .description,
    .hero h1 {
        width: 274px;

    }

    .hero .btn {
        width: 160px;
        padding: 16px 0;
    }

    .hero .text-content {
        align-self: start;
    }

    .hero .text-content h1 {
        font-size: 2.25rem;
    }

    .card-container {
        bottom: 250px;
        left: 0;
    }

    #arrow {
        color: white;
        display: block;
        position: absolute;
        right: 145px;
        font-size: 1.2rem;
    }

    .second {
        top: 60px;
        left: 190px;
        width: 160px;
        padding: 0 10px;
    }

    .second h4 {
        font-size: 2rem;
    }

    .second p {
        font-size: 10px;
    }



    /* responsive habit section   */
    .habits .title {
        font-size: 2rem;

    }

    .habits .description {
        padding: 0 40px;
    }

    .habits-box-container {
        grid-template-columns: repeat(1, 1fr);
    }


    .br {
        display: none;
    }

    /* responsive extra mile section  */
    .extra-mile {
        flex-direction: column;
    }

    .extra-mile button {
        display: block;
        width: 100%;
    }

    .extra-mile img {
        max-width: 100%;
        /* margin-top: 30px; */
    }

}