/* responsive design  */

/* for small device  */
@media screen and (max-width:576px) {

    /* responsive header area  */
    header {
        padding: 0 20px;
        padding-top: 52px;
    }

    .hide {
        display: none;
    }

    .menu {
        display: block;
    }

    .hero {
        flex-direction: column;
    }

    .hero .description,
    .hero h1 {
        width: 274px;

    }

    .hero .btn {
        width: 160px;
        padding: 16px 0;
    }

    .hero .text-content {
        align-self: start;
    }

    .hero .text-content h1 {
        font-size: 2.25rem;
    }

    .card-container {
        bottom: 250px;
        left: 0;
    }

    #arrow {
        color: white;
        display: block;
        position: absolute;
        right: 145px;
        font-size: 1.2rem;
    }

    .second {
        top: 60px;
        left: 190px;
        width: 160px;
        padding: 0 10px;
    }

    .second h4 {
        font-size: 2rem;
    }

    .second p {
        font-size: 10px;
    }



    /* responsive habit section   */
    .habits .title {
        font-size: 2rem;

    }

    .habits .description {
        padding: 0 40px;
    }

    .habits-box-container {
        grid-template-columns: repeat(1, 1fr);
    }


    .br {
        display: none;
    }

    /* responsive extra mile section  */
    .extra-mile {
        flex-direction: column;
        margin: 100px 20px;
    }

    .extra-mile button {
        display: block;
        width: 100%;
    }

    .extra-mile img {
        max-width: 100%;
    }

    /* responsive training styles  */


    .one {
        grid-column: span 14;
    }

    .two {
        grid-column: span 14;
    }

    .three,
    .six {
        display: none;
    }

    .four {
        grid-column: span 13;
    }

    .five {
        grid-column: span 15;
    }


    /* responsive bmi calculator area  */
    .bmi-calculator .bmi,
    .bmi-calculator .title {
        padding: 0 20px;
    }


    .wrapper {
        flex-direction: column;
        padding: 0 20px;
        gap: 0;
    }

    form {
        margin-top: 40px;
    }

    /* .input-area {
        grid-template-columns: repeat(2, 30%);
    } */




    /* responsive meet our team section styles  */
    .image-collage {
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(5, 1fr); */
    }


    /* responsive footer styles  */
    footer {
        padding: 50px 20px;
    }

    footer .container {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

}

/* for medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* Responsive Header Section  */
    header {
        padding: 52px 30px;
    }

    header nav .hide {
        display: flex;
    }

    header nav ul {
        gap: 30px;
    }

    .menu {
        display: none;
    }

    .hero {
        flex-direction: column;
    }

    .hero .text-content {
        align-self: start;
        padding-left: 40px;
        margin-bottom: 100px;
    }

    .card-container {
        bottom: 140px;
        left: -50px;
    }

    .second {
        top: 60px;
        left: 190px;
    }




    /* responsive habit section   */
    .habits-box-container {
        grid-template-columns: repeat(2, 1fr);
    }


    /* responsive extra mile section  */
    .extra-mile {
        margin: 70px 20px;
    }


    /* responsive footer styles  */
    footer {
        padding: 50px 20px;
    }

    footer .container {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    footer .container .fitness-content {
        max-width: 60%;
        grid-column: span 2;
    }
}