/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');



/* my default styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;


}

body {
    background-color: black;
    /*for footer section*/
}

/* shared styles  */
.icon {
    font-style: italic;
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    cursor: pointer;
}

.btn-primary {
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
    background: rgb(230, 83, 60);
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

}

.title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
}

.description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header section starts here  */
header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 190px;
    padding-top: 60px;
    background: linear-gradient(rgb(17, 17, 17), rgb(37, 36, 36), rgb(0, 0, 0));
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 47px;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding-right: 24px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu {
    display: none;
}

.menu a {
    color: white;
    font-size: 1.5rem;
}

ul li a {
    color: white;
    text-decoration: none;
}

.hero .text-content {
    max-width: 520px;
}

.hero {
    margin-top: 32px;
}

.hero .text-content h1 {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 28px;
}

.hero .text-content .shape {
    font-family: "Sacramento", cursive;
    font-style: italic;
    font-weight: 100;
}

.text-content .btn {
    padding: 16px 40px;
    display: inline-block;
    margin-top: 28px;
}

.text-content .last-btn {
    background: transparent;
    border: 1px solid white;
    margin-left: 14px;
}

.image-content {
    position: relative;
}


.card-container {
    width: 210px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    padding: 0 23px;
    position: absolute;
    bottom: 70px;
    left: -120px;


}

.card-container i {
    font-size: 2.5rem;
    color: rgb(230, 83, 60);
    margin-right: 12px;
}

.card-container h4 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 700;
}

.card-container p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
}

#arrow {
    display: none;
}

.second {
    top: 120px;
    left: 220px;
    justify-content: center;
}

.second h4 {
    font-size: 2.5rem;
}

.second p {
    font-size: 13px;
}

/* header section ends here  */

/* Main area starts here  */
main {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    background: black;
}

.habits {
    text-align: center;
    display: grid;
    place-items: center;
}

.habits .title {
    margin-bottom: 14px;
}

.habits-box-container {
    max-width: 1044px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
    gap: 40px;
}

.habits-box {
    max-width: 230px;
}

.habits-box img {
    width: 70%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.habits-box h5 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;

}

/* run an extra mile section styles  */
.extra-mile {
    max-width: 1044px;
    margin: 100px auto;
    gap: 30px;
    border-radius: 18px;
    padding: 35px;
    background: rgb(34, 34, 34);
}

.extra-mile .text {
    max-width: 445px;
}

.extra-mile .text .description {
    margin: 30px 0;
}

.extra-mile button {
    width: 224px;
}

.extra-mile img {
    max-width: 40%;
    height: 315px;
    border-radius: 18px;
}

/* training section styles  */
.training-section {
    max-width: 1060px;
    margin: 100px auto;
    padding: 0 20px;
    color: white;
}

.training-section .heading {
    max-width: 670px;

    .description {
        margin-top: 14px;
        margin-bottom: 88px;
    }
}

.training-collage {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    grid-template-rows: repeat(2, 215px);
}

.training-collage .image-container {
    position: relative;
}

.training-collage .image-container img {
    width: 100%;
    height: 100%;
}

.training-collage .text {
    position: absolute;
    font-size: .8rem;


}

.image-container .gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(6, 255, 210, 0.5);
}

.one {
    grid-column: span 6;

    .text {
        color: black;
        left: 10px;
        bottom: 10px;
    }
}

.two {
    grid-column: span 14;

    .gradient {
        background: rgba(255, 0, 0, 0.5);
    }

    .text {
        color: white;
        left: 10px;
        top: 10px;
    }
}

.three {
    grid-column: span 8;

    .gradient {
        background: rgba(0, 0, 0, 0.5);
    }

    .text {
        color: white;
        left: 10px;
        bottom: 10px;
    }
}

.four {
    grid-column: span 11;

    .gradient {
        background: rgba(0, 0, 0, 0.5);
    }

    .text {
        color: white;
        right: 10px;
        top: 10px;
    }
}

.five {
    grid-column: span 7;

    .gradient {
        background: rgba(66, 255, 0, .3);
    }

    .text {
        color: white;
        left: 10px;
        bottom: 10px;
    }
}


.six {
    grid-column: span 10;

    .gradient {
        background: rgba(0, 71, 255, .3);
    }

    .text {
        color: white;
        left: 10px;
        bottom: 10px;
    }
}



/* BMI calculator section styles  */
.bmi-calculator .bmi {
    margin-bottom: 50px;
}

.heading {
    max-width: 670px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1040px;
    margin: 50px auto;
    align-items: start;
    gap: 170px;

}

.bmi-calculator .content {
    max-width: 1440px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    padding: 1px 0;

}

.content .caption {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 600;
    text-align: left;
}


.content table {
    border-collapse: collapse;
}

table .caption {
    margin-bottom: 50px;
}

table .th {
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: left;
    padding: 11px 20px;
}

table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 11px 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

/* form styles  */

form .caption {
    margin-bottom: 14px;
}

form .description {
    margin-bottom: 34px;
}

.input-area {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    /* changable  */
    gap: 12px;
}

.input-area input,
select {
    padding: 13px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);

}

.input-area .full {
    grid-column: span 2;
}

.btn-form {
    width: 224px;
    margin-top: 22px;
}

/* Meet our team section styles  */
.team-container {
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 88px;
    color: white;

    .title,
    .description {
        max-width: 670px;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
    }
}


.card {
    position: relative;
}

.card .text {
    position: absolute;
    bottom: 15px;
    left: 10px;

    h6 {
        font-size: 1rem;
        font-weight: 400;
        opacity: .6;
    }

}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.image-collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: rgb(34, 34, 34);
    padding: 20px;
    border-radius: 18px;
    margin: 50px 20px;
}

/* footer section style  */
footer {
    background: rgb(34, 34, 34);
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 100px;
}

footer .container {
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 40% 25% 25%);
    gap: 7%;
}

footer .container h1 {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* footer .container p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 24px;
} */

footer .container h3 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

footer .container ul li {
    list-style: none;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
}

.hr-line {
    max-width: 1060px;
    margin: 0 auto;

}

.hr-line small {
    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

footer hr {
    margin-top: 55px;
    margin-bottom: 36px;
    opacity: .5;
}