/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');



/* my default styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;


}

/* shared styles  */
.icon {
    font-style: italic;
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    cursor: pointer;
}

.btn-primary {
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
    background: rgb(230, 83, 60);
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

}

.title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
}

.description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header section starts here  */
header {
    max-width: 100%;
    /* height: 715px; */
    margin: 0 auto;
    padding: 0 190px;
    padding-top: 60px;
    background: linear-gradient(rgb(17, 17, 17), rgb(78, 72, 72), rgb(0, 0, 0));
    border: 1px solid black;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 47px;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding-right: 24px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu {
    display: none;
}

.menu a {
    color: white;
    font-size: 1.5rem;
}

ul li a {
    color: white;
    text-decoration: none;
}

.hero .text-content {
    max-width: 520px;
}

.hero {
    margin-top: 32px;
}

.hero .text-content h1 {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 28px;
}

.hero .text-content .shape {
    font-family: "Sacramento", cursive;
    font-style: italic;
    font-weight: 100;
}

.text-content .btn {
    padding: 16px 40px;
    display: inline-block;
    margin-top: 28px;
}

.text-content .last-btn {
    background: transparent;
    border: 1px solid white;
    margin-left: 14px;
}

.image-content {
    position: relative;
}


.card-container {
    width: 210px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 0 23px;
    position: absolute;
    bottom: 70px;
    left: -120px;


}

.card-container i {
    font-size: 2.5rem;
    color: rgb(230, 83, 60);
    margin-right: 12px;
}

.card-container h4 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 700;
}

.card-container p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
}

#arrow {
    display: none;
}

.second {
    top: 120px;
    left: 220px;
    justify-content: center;
}

.second h4 {
    font-size: 2.5rem;
}

.second p {
    font-size: 13px;
}

/* header section ends here  */

/* Main area starts here  */
main {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    background: black;
}

.habits {
    text-align: center;
}


/* responsive design  */

/* for small device  */
@media screen and (max-width:576px) {

    /* responsive header area  */
    header {
        padding: 0 20px;
        padding-top: 52px;
    }

    .hide {
        display: none;
    }

    .menu {
        display: block;
    }

    .hero {
        flex-direction: column;
    }

    .hero .description,
    .hero h1 {
        width: 274px;

    }

    .hero .btn {
        width: 160px;
        padding: 16px 0;
    }

    .hero .text-content {
        align-self: start;
    }

    .hero .text-content h1 {
        font-size: 2.25rem;
    }

    .card-container {
        bottom: 250px;
        left: 0;
    }

    #arrow {
        color: white;
        display: block;
        position: absolute;
        right: 145px;
        font-size: 1.2rem;
    }

    .second {
        top: 60px;
        left: 190px;
        width: 160px;
        padding: 0 10px;
    }

    .second h4 {
        font-size: 2rem;
    }

    .second p {
        font-size: 10px;
    }



    /* responsive habit section   */

}